@page
@model RazorHotelDB.Pages.Hotels.DeleteHotelModel
@{
    ViewData["Title"] = "Delete Hotel";
}

@*Use check boxes to pick hotels to delete, would need to make it seperate page*@
@*show gotel about to be delted*@
@*make button that shows the hotel and redirects to the onpost and deletes the hotel*@

<h1>Hotel about to be deleted</h1>

